In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

In [4]:
#Import Python Libraries

In [55]:
import numpy as np

In [56]:
import pandas as pd

In [17]:
df = pd.read_csv("/content/Salaries.csv" , index_col=0)

FileNotFoundError: ignored

In [33]:
df = pd.read_csv ("/Salaries.csv", index_col=0)

In [34]:
df

         rank discipline  yrs.since.phd  yrs.service   sex  salary
1        Prof          B             19           18  Male  139750
2        Prof          B             20           16  Male  173200
3    AsstProf          B              4            3  Male   79750
4        Prof          B             45           39  Male  115000
5        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
393      Prof          A             33           30  Male  103106
394      Prof          A             31           19  Male  150564
395      Prof          A             42           25  Male  101738
396      Prof          A             25           15  Male   95329
397  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [35]:
df.size

2382

In [23]:
df.columns

Index(['rank', 'discipline', 'yrs.since.phd', 'yrs.service', 'sex', 'salary'], dtype='object')

In [24]:
df.columns_names

AttributeError: ignored

In [36]:
df.shape

(397, 6)

In [37]:
df.axes

[Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
             ...
             388, 389, 390, 391, 392, 393, 394, 395, 396, 397],
            dtype='int64', length=397),
 Index(['rank', 'discipline', 'yrs.since.phd', 'yrs.service', 'sex', 'salary'], dtype='object')]

In [38]:
df.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [39]:
df.max()

rank               Prof
discipline            B
yrs.since.phd        56
yrs.service          60
sex                Male
salary           231545
dtype: object

In [40]:
df.mean()

yrs.since.phd        22.314861
yrs.service          17.614610
salary           113706.458438
dtype: float64

In [41]:
df.describe(1)

TypeError: ignored

In [42]:
df.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [43]:
df.summary(1)

AttributeError: ignored

In [44]:
df.describe(0,1)

TypeError: ignored

In [45]:
df.std_func(numeric_only=1)

AttributeError: ignored

In [46]:
df.std()

yrs.since.phd       12.887003
yrs.service         13.006024
salary           30289.038695
dtype: float64

In [47]:
df.head(50)

         rank discipline  yrs.since.phd  yrs.service     sex  salary
1        Prof          B             19           18    Male  139750
2        Prof          B             20           16    Male  173200
3    AsstProf          B              4            3    Male   79750
4        Prof          B             45           39    Male  115000
5        Prof          B             40           41    Male  141500
6   AssocProf          B              6            6    Male   97000
7        Prof          B             30           23    Male  175000
8        Prof          B             45           45    Male  147765
9        Prof          B             21           20    Male  119250
10       Prof          B             18           18  Female  129000
11  AssocProf          B             12            8    Male  119800
12   AsstProf          B              7            2    Male   79800
13   AsstProf          B              1            1    Male   77700
14   AsstProf          B              2            0    Male   78000
15       Prof          B             20           18    Male  104800
16       Prof          B             12            3    Male  117150
17       Prof          B             19           20    Male  101000
18       Prof          A             38           34    Male  103450
19       Prof          A             37           23    Male  124750
20       Prof          A             39           36  Female  137000
21       Prof          A             31           26    Male   89565
22       Prof          A             36           31    Male  102580
23       Prof          A             34           30    Male   93904
24       Prof          A             24           19    Male  113068
25  AssocProf          A             13            8  Female   74830
26       Prof          A             21            8    Male  106294
27       Prof          A             35           23    Male  134885
28   AsstProf          B              5            3    Male   82379
29   AsstProf          B             11            0    Male   77000
30       Prof          B             12            8    Male  118223
31       Prof          B             20            4    Male  132261
32   AsstProf          B              7            2    Male   79916
33       Prof          B             13            9    Male  117256
34   AsstProf          B              4            2    Male   80225
35   AsstProf          B              4            2  Female   80225
36   AsstProf          B              5            0  Female   77000
37       Prof          B             22           21    Male  155750
38   AsstProf          B              7            4    Male   86373
39       Prof          B             41           31    Male  125196
40  AssocProf          B              9            9    Male  100938
41       Prof          B             23            2    Male  146500
42  AssocProf          B             23           23    Male   93418
43       Prof          B             40           27    Male  101299
44       Prof          B             38           38    Male  231545
45       Prof          B             19           19    Male   94384
46       Prof          B             25           15    Male  114778
47       Prof          B             40           28    Male   98193
48       Prof          B             23           19  Female  151768
49       Prof          B             25           25  Female  140096
50   AsstProf          B              1            1    Male   70768

In [48]:
df.mean(50)

ValueError: ignored

In [49]:
df.mean()

yrs.since.phd        22.314861
yrs.service          17.614610
salary           113706.458438
dtype: float64

In [50]:
df.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [51]:
df.std()

yrs.since.phd       12.887003
yrs.service         13.006024
salary           30289.038695
dtype: float64

In [52]:
df.mean()

yrs.since.phd        22.314861
yrs.service          17.614610
salary           113706.458438
dtype: float64

In [53]:
df_50=df.head(50)

In [54]:
df.head(50).mean()

yrs.since.phd        20.92
yrs.service          16.22
salary           112625.64
dtype: float64

In [57]:
df.dtypes

rank             object
discipline       object
yrs.since.phd     int64
yrs.service       int64
sex              object
salary            int64
dtype: object

In [58]:
df.rank

<bound method NDFrame.rank of          rank discipline  yrs.since.phd  yrs.service   sex  salary
1        Prof          B             19           18  Male  139750
2        Prof          B             20           16  Male  173200
3    AsstProf          B              4            3  Male   79750
4        Prof          B             45           39  Male  115000
5        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
393      Prof          A             33           30  Male  103106
394      Prof          A             31           19  Male  150564
395      Prof          A             42           25  Male  101738
396      Prof          A             25           15  Male   95329
397  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]>

In [59]:
df['rank']

1          Prof
2          Prof
3      AsstProf
4          Prof
5          Prof
         ...
393        Prof
394        Prof
395        Prof
396        Prof
397    AsstProf
Name: rank, Length: 397, dtype: object

In [60]:
df['salary']

1      139750
2      173200
3       79750
4      115000
5      141500
        ...
393    103106
394    150564
395    101738
396     95329
397     81035
Name: salary, Length: 397, dtype: int64

In [61]:
df.salary

1      139750
2      173200
3       79750
4      115000
5      141500
        ...
393    103106
394    150564
395    101738
396     95329
397     81035
Name: salary, Length: 397, dtype: int64

In [62]:
df[['salary']]

     salary
1    139750
2    173200
3     79750
4    115000
5    141500
..      ...
393  103106
394  150564
395  101738
396   95329
397   81035

[397 rows x 1 columns]

In [63]:
df.axes(yrs.since.phd)

NameError: ignored

In [64]:
df.columns('yrs.since.phd')

TypeError: ignored

In [65]:
df.columns(1)

TypeError: ignored

In [66]:
df.['yrs.since.phd'].describer()

SyntaxError: ignored

In [68]:
df.describe('yrs.since.phd')

TypeError: ignored

In [69]:
df.describe['yrs.since.phd']

TypeError: ignored

In [70]:
df.columns('yrs.since.phd')

TypeError: ignored

In [71]:
df.columns['yrs.since.phd']

IndexError: ignored

In [72]:
df['yrs.since.phd'].describe()

count    397.000000
mean      22.314861
std       12.887003
min        1.000000
25%       12.000000
50%       21.000000
75%       32.000000
max       56.000000
Name: yrs.since.phd, dtype: float64

In [74]:
df['yrs.since.phd'].count()

397

In [75]:
df['yrs.since.phd'].mean

<bound method Series.mean of 1      19
2      20
3       4
4      45
5      40
       ..
393    33
394    31
395    42
396    25
397     8
Name: yrs.since.phd, Length: 397, dtype: int64>

In [76]:
df.groupby(['rank']).mean()

           yrs.since.phd  yrs.service         salary
rank
AssocProf      15.453125    11.953125   93876.437500
AsstProf        5.104478     2.373134   80775.985075
Prof           28.300752    22.815789  126772.109023

In [78]:
df.groupby('rank')[['salary','yrs.since.phd']].mean()

                  salary  yrs.since.phd
rank
AssocProf   93876.437500      15.453125
AsstProf    80775.985075       5.104478
Prof       126772.109023      28.300752

In [79]:
df.head()

       rank discipline  yrs.since.phd  yrs.service   sex  salary
1      Prof          B             19           18  Male  139750
2      Prof          B             20           16  Male  173200
3  AsstProf          B              4            3  Male   79750
4      Prof          B             45           39  Male  115000
5      Prof          B             40           41  Male  141500

In [80]:
df.salary()

TypeError: ignored

In [81]:
df.salary

1      139750
2      173200
3       79750
4      115000
5      141500
        ...
393    103106
394    150564
395    101738
396     95329
397     81035
Name: salary, Length: 397, dtype: int64

In [83]:
df['salary']>120000

1       True
2       True
3      False
4      False
5       True
       ...
393    False
394     True
395    False
396    False
397    False
Name: salary, Length: 397, dtype: bool

In [85]:
df[df['salary']>120000]

     rank discipline  yrs.since.phd  yrs.service   sex  salary
1    Prof          B             19           18  Male  139750
2    Prof          B             20           16  Male  173200
5    Prof          B             40           41  Male  141500
7    Prof          B             30           23  Male  175000
8    Prof          B             45           45  Male  147765
..    ...        ...            ...          ...   ...     ...
387  Prof          A             29           27  Male  139219
390  Prof          A             33           18  Male  186023
391  Prof          A             40           19  Male  166605
392  Prof          A             30           19  Male  151292
394  Prof          A             31           19  Male  150564

[142 rows x 6 columns]

In [94]:
df[df(['discipline']=='B')& (['yrs.since.phd']>=20)]

TypeError: ignored

In [96]:
df[(df['discipline']=='B') & (df['yrs.since.phd']>=20)]

     rank discipline  yrs.since.phd  yrs.service   sex  salary
2    Prof          B             20           16  Male  173200
4    Prof          B             45           39  Male  115000
5    Prof          B             40           41  Male  141500
7    Prof          B             30           23  Male  175000
8    Prof          B             45           45  Male  147765
..    ...        ...            ...          ...   ...     ...
351  Prof          B             56           49  Male  186960
352  Prof          B             38           38  Male   93519
353  Prof          B             26           27  Male  142500
354  Prof          B             22           20  Male  138000
356  Prof          B             25           21  Male  145028

[100 rows x 6 columns]

In [98]:
df_subset=df[(df['discipline']=='B') & (df['yrs.since.phd']>=20)]

In [99]:
df[(df['discipline']=='B') & (df['yrs.since.phd']>=20)]

     rank discipline  yrs.since.phd  yrs.service   sex  salary
2    Prof          B             20           16  Male  173200
4    Prof          B             45           39  Male  115000
5    Prof          B             40           41  Male  141500
7    Prof          B             30           23  Male  175000
8    Prof          B             45           45  Male  147765
..    ...        ...            ...          ...   ...     ...
351  Prof          B             56           49  Male  186960
352  Prof          B             38           38  Male   93519
353  Prof          B             26           27  Male  142500
354  Prof          B             22           20  Male  138000
356  Prof          B             25           21  Male  145028

[100 rows x 6 columns]

In [100]:
df.iloc[1:4, 0:3]

       rank discipline  yrs.since.phd
2      Prof          B             20
3  AsstProf          B              4
4      Prof          B             45

In [101]:
df.iloc[0:3, 5:7]

   salary
1  139750
2  173200
3   79750

In [104]:
df.iloc[0:2, 4:6]

    sex  salary
1  Male  139750
2  Male  173200

In [107]:
df.iloc[1:3,2:5]

   yrs.since.phd  yrs.service   sex
2             20           16  Male
3              4            3  Male

In [108]:
df.iloc[2:5,0:3]

       rank discipline  yrs.since.phd
3  AsstProf          B              4
4      Prof          B             45
5      Prof          B             40

In [109]:
df.iloc[0:2, 4:]

    sex  salary
1  Male  139750
2  Male  173200

In [111]:
df.iloc[2:4,2:5]

   yrs.since.phd  yrs.service   sex
3              4            3  Male
4             45           39  Male

In [112]:
df.iloc[1:4,0:3]

       rank discipline  yrs.since.phd
2      Prof          B             20
3  AsstProf          B              4
4      Prof          B             45

In [113]:
import matplotlib.pyplot as plt

In [114]:
%matplotlib inline